{% set list = createModel('ContactUs','contactus') %}
{{ createSearch('message','contactus','like:%{value}%','or') }}
{{ createSearch('subject','contactus','like:%{value}%','or') }}
{{ createSearch('email','contactus','like:%{value}%','or') }}
{{ createSearch('phone','contactus','like:%{value}%','or') }}
{{ createSearch('name','contactus','like:%{value}%','or') }}

{% set list = applySearch(list,'contactus') %}
{% set list = list.orderBy('date_created','desc') %}
{% set paginator = paginate(list,'contactus')  %}

{% if paginator.getItems()|length == 0 %}
<tr>
    <td colspan="5">..</td>
</tr>
{% endif %}

{% for item in paginator.getItems() %}
    {% set read_style = (item.read != 1) ? 'font-bold' : ''%}
    <tr id="{{ item.uuid }}" class="row {{ read_style }}">        
        <td class="">
            <input 
                type="checkbox" 
                class="selected-row checkbox checkbox-xs" 
                name="selected[]" 
                value="{{ item.uuid }}">
        </td>
        <td>
            <button 
                class="{{ theme.buttons.menu }} delete-button" 
                uuid="{{ item.uuid }}">
                {{ component('icons~trash',theme.icons.delete,'svg') }}              
            </button>
            <button 
                class="{{ theme.buttons.menu }} message-action" 
                uuid="{{ item.uuid }}">
                {{ component('icons~eye',theme.icons.menu,'svg') }}              
            </button>
        </td>
        <td>
            {{ item.date_created|dateTimeFormat }}
        </td>
        <td>
            {{ item.subject }}
        </td>
        <td>
            {{ item.message|striptags()|slice(0,20) }}
        </td>                 
    </tr>
{% endfor %}   