{{  component('system:admin.tabs.vertical',{ 
        items: [ 
            { 
                title: labels.form, 
                component: 'contactus::admin.settings.form', 
                svg_icon: 'icons~list',
                active: true 
            },
            { 
                title: labels.notifications, 
                component: 'contactus::admin.settings.notifications', 
                svg_icon: 'icons~mail' 
            },    
        ], 
        menu: { 
            id: 'settings_menu' 
        },       
        content: { 
            id: 'settings_tab', 
            component: 'contactus::admin.settings.form' 
        } 
    })
}}