{% set settings = getOption('contactus.form.settings') %}
<form class="ui equal width form" id="contact_us_form">    
    {% if settings.subject.show == 'true' %}
    <div class="{{ settings.subject.required|ifthen('true','required') }} field">
        <label>{{ subject.label }}</label>
        <input type="text" name="subject" id="subject" {{ subject.placeholder|attr('placeholder') }} value="">  
    </div>
    {% endif %}   
    <div class="required field">
        <label>{{ message.label }}</label>
        <textarea rows="4" cols="4" name="message" id="message" {{ message.placeholder|attr('placeholder') }}></textarea>
    </div>                 
    {% if settings.name.show == 'true' %}   
    <div class="{{ settings.name.required|ifthen('true','required') }} field">
        <label>{{ name.label }}</label>
        <input type="text" name="name" id="name" {{ name.placeholder|attr('placeholder') }} value="">  
    </div> 
    {% endif %}
    <div class="two fields">     
        {% if settings.email.show == 'true' %}      
        <div class="{{ settings.email.required|ifthen('true','required') }} field">
            <label>{{ email.label }}</label>
            <input type="text" name="email" id="email" {{ email.placeholder|attr('placeholder') }} value="">
        </div>
        {% endif %}
        {% if settings.phone.show == 'true' %} 
        <div class="{{ settings.phone.required|ifthen('true','required') }} field">
            <label>{{ phone.label }}</label>
            <input type="text" name="phone" id="phone" {{ phone.placeholder|attr('placeholder') }} value="">
        </div>
        {% endif %}
    </div>   
    <div class="ui mt-3">&nbsp;</div>
    {% if settings.captcha.show == 'true' %}  
        {{ component('captcha::code') }}
    {% endif %}   
    {{ component('semantic~form.footer',{ button_title: buttons.save.content }) }}    
</form>
