<div class="ui segment">
    <div class="ui stackable grid">
        <div class="five wide column">
            {{ component("components:search.form",{ namespace: 'contactus' }) }}
        </div>
        <div class="ten wide column">
    
        </div>
        <div class="one wide column right aligned">
            {{ component('components:paginator.dropdown',{ namespace: 'contactus' }) }}
        </div>
    </div>
</div>
<table class="ui compact stackable selectable borderless basic table">
    <thead class="table-head">
        <tr>
            <th class="collapsing center aligned">
                {{ component('contactus::admin.view.actions') }}
            </th>
            <th class="collapsing">{{ labels.actions }}</th>
            <th class="two wide">{{ labels.date }}</th>  
            <th>{{ labels.subject }}</th>           
            <th>{{ labels.message }}</th>
            <th>{{ labels.name }}</th>
            <th>{{ labels.email }}</th>
            <th>{{ labels.phone }}</th>                            
        </tr>
    </thead>
    <tbody id="contactus_rows">
        {{ component('contactus::admin.view.rows') }}
    </tbody>
</table>
<div id="paginator">           
    {{ component("components:paginator",{ namespace: 'contactus' }) }}
</div>