{# set message = createModel('ContactUs','contactus').findById(uuid) #}

<b>{{ labels.title }}</b>
<br>
<br>

{% if message.subject is not empty %}
    <b>{{ labels.subject }}</b>: {{ message.subject }}<br>
{% endif %}

{% if message.message is not empty %}
    <b>{{ labels.message }}:</b>
    <p>{{ message.message }}</p>    
    <br>    
{% endif %}

{% if message.name is not empty %}
    <b>{{ labels.name }}</b>: {{ message.name }}<br>
{% endif %}

{% if message.email is not empty %}
    <b>{{ labels.email }}</b>: {{ message.email }}<br>
{% endif %}

{% if message.phone is not empty %}
    <b>{{ labels.phone }}</b>: {{ message.phone }}<br>
{% endif %}
<br>