{% set items = [ 
    { id: 'view_button', title: labels.view.content, component: 'contactus::admin.view', icon: 'grid layout', active: true },
    { id: 'settings_button', title: labels.settings.content, component: 'contactus::admin.settings', icon: 'cogs' },
    { id: 'preview_button', title: labels.preview.content, component: 'contactus::admin.preview', icon: 'cogs' }
] %}

{{  component('components:tabs',{ 
        items: items,
        content: { component: 'contactus::admin.view' } 
    })
}}